.card{
    max-width: 550px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 40px;
}
.form-control{
    width:400px;
}